<!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg fixed-top" color-on-scroll=300>
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="http://sanmarkkam.com/">
          <img src="../../assets/img/booklogo.png">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar bar1" style="background: black;"></span>
          <span class="navbar-toggler-bar bar2" style="background: black;"></span>
          <span class="navbar-toggler-bar bar3" style="background: black;"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navigation">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <img src="../../assets/img/Sanmarkkam-Logo.png">
            </div>
            <div class="col-6 collapse-close text-right">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navigation"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <i class="tim-icons icon-simple-remove" style="color: black;"></i>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/About" class="nav-link">About</a>
          </li>
          <li class="dropdown nav-item">
            <a routerLink="#" class="dropdown-toggle nav-link" style="border-radius: 10px;"
              data-toggle="dropdown">Signin</a>
            <div class="dropdown-menu dropdown-with-icons">
              <!-- <div class="add-btn btn-wrap" data-toggle="modal" data-target="#exampleModal">
                <a href="/login" class="dropdown-item">Login</a>
              </div> -->
              <div data-toggle="modal" data-target="#exampleModal">
                <a href="/login" class="dropdown-item">Login</a>
              </div>
              <a routerLink="/" class="dropdown-item">
                Logout
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- End Navbar -->
<router-outlet></router-outlet>
<app-footer></app-footer>