<!-- Footer -->
<footer class="footer">
    <div class="container">
      <div class="row ">
        <div class="col-md-3">
          <h1 class="title">Sanmarkkam</h1>
        </div>
        <div class="col-md-3 col-6">
          <ul class="nav">
            <li class="nav-item">
              <a routerLink="/" class="nav-link" style="font-size: 15px; font-weight: 600;">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a href="./examples/landing-page.html" class="nav-link" style="font-size: 15px; font-weight: 600;">
                About
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-6">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://creative-tim.com/contact-us?ref=blkdsp-footer" class="nav-link" style="font-size: 15px; font-weight: 600;">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a href="https://creative-tim.com/about-us?ref=blkdsp-footer" class="nav-link" style="font-size: 15px; font-weight: 600;">
                About Us
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile text-left">
            <a target="_blank" href="https://twitter.com/casttree_com" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
              <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/casttreenews/" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Like us">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a target="_blank" href="https://www.instagram.com/casttreenews/" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Follow us">
              <i class="fab fa-google"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="row" style="padding-top: 15px;">
        <div class="col-12">
          <p style="font-weight: 600;">© 2019 All Rights Reserved <a href="https://www.nextontop.com">NextOnTop HI-Tech SoftSolution Pvt. Ltd</a>.</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End of Footer Page -->
