<div class="page-header">
    <div class="container">
      <div class="col-lg-4 col-md-6 mx-auto">
        <div class="card card-login">
          <form class="form" method="" action="">
            <div class="card-header">
              <h3 class="card-title text-center">Login <a routerLink="/"><span aria-hidden="true" style="float: right; color:black; padding-right: 15px;">&times;</span></a></h3>
              
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user" aria-hidden="true" style="color: black;"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="UserName" style="color: black !important;">
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-unlock-alt" aria-hidden="true" style="color: black;"></i></span>
                  </div>
                  <input type="password" class="form-control" placeholder="Password" style="color: black !important;">
                </div>
                <div class="card-footer text-center">
                  <span class="btn btn-round btn-block">Login</span>
                </div>
                <div class="pull-left ml-3 mb-3">
                  <h6>
                    <a routerLink="/signupp" style="color : #344675 ; font-size: 14px; font-weight: 600;" class="link footer-link">Create Account</a>
                  </h6>
                </div>
                <div class="pull-right mr-3 mb-3">
                  <h6>
                    <a routerLink="#" style="color: #344675; font-size: 14px; font-weight: 600;" class="link footer-link">Need Help?</a>
                  </h6>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
