<div class="page-header">
  <div class="container">
    <div class="col-lg-4 col-md-8 mx-auto">
      <div class="card card-login">
        <form class="form" method="" action="">
          <div class="card-header">
            <h2 class="card-title text-center">Sign-Up  <a routerLink="/login"><span aria-hidden="true" style="float: right; color:black; padding-right: 15px;">&times;</span></a></h2>
            <div class="card-body">
              <div class="input-group input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user" aria-hidden="true" style="color: black;"></i></span>
                </div>
                <input type="text" class="form-control" style="color: black;" name="name" placeholder="Username" required
                aria-required="true">
              </div>
              <div class="input-group input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-unlock-alt" aria-hidden="true" style="color: black;"></i></span>
                </div>
                <input type="password" class="form-control" style="color: black;" name="password" placeholder="password" required
                aria-required="true">
              </div>
              <div class="input-group input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-unlock-alt" aria-hidden="true" style="color: black;"></i></span>
                </div>
                <input type="password" class="form-control" style="color: black;" name="Confirm-Password" placeholder="Confirm-Password" required
                aria-required="true">
              </div>
              <div class="input-group input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true" style="color: black;"></i></span>
                </div>
                <input type="email" class="form-control" style="color: black;" name="Email" placeholder="xyz@google.com" required
                aria-required="true">
              </div>
              <div class="input-group input-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-phone" aria-hidden="true" style="color: black;"></i></span>
                </div>
                <input type="phone" class="form-control" style="color: black;" name="phone" placeholder="Phone Number" required
                aria-required="true">
              </div>
              <div class="card-footer text-center">
                <a routerLink="/login" class="btn btn-round btn-block">Sign-Up</a>
              </div>
            </div>
          </div>     
        </form>
      </div>
    </div>
  </div>
</div>
