<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 ml-auto mr-auto">
          <p style="cursor: pointer"><img class="images" src="../../assets/img/backstage.png"></p>
      </div>
    </div>
  </div>
  <div class="container">
      <div class="col-lg-8 col-md-12 col-sm-12 offset-lg-2">
          <div class="display-5 display">
              <p style="color: black;">
                  Backstage is a Canadian drama series about a performing arts high school created by Jennifer Pertsch and Lara Azzopardi. The series aired in Canada on Family Channel from March 18 to December 9, 2016, and in the United States on Disney Channel from March 25 to September 30, 2016
              </p>
          </div>
      </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="text-center">
            <button type="button" class="btn btn-primary">Read More</button>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="text-center">
        <a routerLink="/listofmusic"><button type="button" class="btn btn-primary">Prev</button></a>
        <button type="button" class="btn btn-primary">Next</button>
      </div>
    </div>
  </div>
</div>
 
